<div class="layout">

  <h1>Password</h1>

  <div class="password-section">
    <input (keyup)="password.set(inputElement.value); passwordCheckListSignal.set(passwordCheckList)" aria-label="password"
           #inputElement
           type="password"
    >
    <button (click)="changeVisibility(inputElement)">{{btnText()}}</button>
  </div>


  <div class="section">

    <div class="part" [ngStyle]="{background: sectionColors().field1}">
    </div>
    <div class="part" [ngStyle]="{background:  sectionColors().field2}">
    </div>
    <div class="part" [ngStyle]="{background:  sectionColors().field3}">
    </div>

  </div>

  <p><b>{{passwordStrength()}}</b></p>

  <div class="list"><p><span>{{passwordCheckListSignal().long ? '✅' : '❌'}}</span> Length more than 8 symbols</p>
    <p><span>{{passwordCheckListSignal().letter ? '✅' : '❌'}}</span> 1 letter</p>
    <p><span>{{passwordCheckListSignal().digits ? '✅' : '❌'}}</span> 1 digit</p>
    <p><span>{{passwordCheckListSignal().specChar ? '✅' : '❌'}}</span> 1 special character</p></div>
</div>

