input {
  height: 5dvh;
  width: 80%;
  border-radius: 5px;
  flex: 1;
}
.password-section {
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  width: 90%;
  justify-content: center;
  border: 1px cornflowerblue solid;
  outline: 1px #1a2841 solid;
}
button {
  background: #1a2841;
  color: white;
  padding: 10px;
  width: 20%;
}
.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50dvw;
  height: 50dvh;
  background: antiquewhite;
  padding: 5%;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1{
  font-size: 2rem;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid transparent;
  overflow: hidden;
  width: 90%;
  border-radius: 100px;
}

.part {
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  margin: 2px;
  height: 30px;
  width: 32%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
