.layout {
  width: clamp(150px, 50dvw, 1500px);
  height: clamp(150px, 80dvh, 3000px);
  padding: 5%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

  background: #eddbf6;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  overflow-y: auto;
}

p {
  font-size: clamp(6px, 1rem, 25px);
}

input {
  height: 5dvh;
  width: 80%;
  padding: 2px;
  border-radius: 5px;
  flex: 1;
}

.password-section {
  display: flex;
  justify-content: center;

  width: 90%;
  padding: 5px;
  box-sizing: border-box;

  border: 1px cornflowerblue solid;
  outline: 1px #1a2841 solid;
}

button {
  background: #1a2841;
  color: white;
  padding: 10px;
  width: 20%;
}

h1 {
  font-size: 2rem;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid transparent;
  overflow: hidden;
  align-items: center;
  width: 90%;
  height: 15dvh;
  border-radius: 100px;
}

.part {
  transition: all .5s ease-out;
  height: 30%;
  width: 32%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 420px) {
  .layout {
    height: 90vh;
    width: 90vw;
  }
}
